<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Sócios</h3>

        <div class="list-group" ng-show="members.length > 0">
            <a ui-sref="member({id: {{member.id}}})" class="list-group-item" ng-repeat="member in members | orderBy:'name'">{{ member.name }}
                <span class="pull-right">
                    <span class="glyphicon glyphicon-link"></span>
                </span>
            </a>
        </div>
        <div ng-show="members.length == 0">
            <p>Nenhum sócio cadastrado.</p>
        </div>

        <hr>

        <h4>Novo sócio</h4>
        <div class="alert alert-danger" ng-show="error">
            {{ error }}
        </div>
        <form name="newMemberForm" ng-submit="newMemberForm.$valid && newMember()">
            <div class="form-group">
                <input type="text" ng-model="member.name" class="form-control" placeholder="Nome do sócio" required/>
            </div>
            <div class="form-group">
                <label>Sócio do clube:</label>
                <select multiple ng-model="member.club.id" class="form-control" required>
                    <option value="{{ club.id }}" ng-repeat="club in clubs | orderBy:'name'">{{ club.name }}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>

    </div>
</div>